@import 'variables';

.ButtonsS1 {
    width: max-content;

    button {
        background: $c-p;
        box-shadow: none;
        border: none;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid $c-p;
        font-weight: 400;
        font-size: 20px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin-top: 4px;
        }

        svg {
            margin: 0px 10px;
        }
    }

}


.ButtonsAddS1 {

    button {
        border-radius: 14px;
        padding: 23px 10px;
        box-shadow: none;
        border: none;
        color: $c-s  !important;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin: 0px 10px;
        }
    }

}