@import 'variables';


.MedicalInsurance :global {


    .headSection {
        padding-top: 120px;
        padding-bottom: 130px;



        .content {
            max-width: 990px;
            margin: auto;
            margin-top: 60px;
            background: #FFFFFF;
            box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
            border-radius: 20px;


            .TabPaneContent {
                padding: 45px 40px 28px 40px;
            }

            .ButtonsS1_ {
                button {
                    padding: 25px;
                    min-width: 230px;
                    margin-top: 17px;
                    margin-bottom: 10px;
                }
            }
        }


    }

    .InsuranceChoose,
    .WhyBuyFromOmni,
    .CommonQuestions {
        background-color: #FAFAFA;
    }

    .StepsToBuy,
    .CustomerReviews {
        background-color: #fff;
    }

    .InsuranceCoverage {
        padding-top: 80px;

        .content {
            max-width: 1150px;
            margin: auto;
            margin-top: 100px;

            .InsuranceCoverageItem {
                background: #FFFFFF;
                box-shadow: 0px 2px 48px rgb(0 0 0 / 8%);
                border-radius: 22px;
                padding: 20px;
                margin-bottom: 50px;
                display: flex;
                align-items: center;

                .content_{
                    padding:0px 20px;
                }
                .Image_ {
                    margin: auto;
                    background: #E4E6E9;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-right: -68px;

                }

                h3 {
                    color: $c-p;
                    margin-top: 5px;
                    font-weight: 700;
                    font-size: 20px;
                }

                p {
                    margin-top: 5px;
                }
            }
        }
    }

    .CommonQuestions {
        .ant-collapse-borderless {
            background-color: #FAFAFA;
        }

        .ant-collapse-item {
            border-bottom: 1px solid #FAFAFA;
        }
    }
}